.benefits-section {
  background-color: #F4F5F7;;
}

.benefits-section__question-answer {
  min-width: 635px;
  max-width: 635px;
}

.benefits-section__question {
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.7px;
  color: #2D314D;
}

.benefits-section__answer {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
}