.burger-menyu {
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;
}

.burger-menyu__top-decoration, .burger-menyu__middle-decoration, .burger-menyu__bottom-decoration {
  width: 35px;
  height: 5px;
  background-color: #222;
  transition: transform 0.2s ease,
  opacity 0.2s ease;
  margin: {
    top: 3px;
    bottom: 3px;
  }
}


.change .burger-menyu__top-decoration {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .burger-menyu__middle-decoration {
  opacity: 0;
}

.change .burger-menyu__bottom-decoration {
  transform: rotate(45deg) translate(-8px, -8px);
}