.header-features-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: {
    top: 0;
    bottom: 0;
    left: -30px;
  }
  padding-left: 0;
}

.header-features-list__item {
  position: relative;
  z-index: 1;
  margin: {
    left: 30px;
  }
  padding: {
    top: 28px;
    bottom: 28px;
  }
  transition: opacity 0.2s ease;
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background-image: $btn-bg-color;
    opacity: 0;
  }
  &:hover:after {
    opacity: 1;
  }
}

.header-features-list__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: #9597A5;
  text-transform: capitalize;
  transition: color 0.2s ease;

  &:hover {
    color: #2d314d;
  }
}

@include breakpoint-down (985px) {
  .header-features-list {
    width: 100%;
    margin: {
      left: -20px;
    }
  }

  .header-features-list__item {
    flex-grow: 1;
    text-align: center;
    margin: {
      left: 20px;
    }
  }
}

@include breakpoint-down (400px) {
  .header-features-list {
    flex-direction: column;
    width: 327px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 0;
    padding: {
      top: 20px;
      bottom: 20px;
    }
  }

  .header-features-list__item {
    position: static;
    margin-left: 0;
    padding: {
      top: 12px;
      bottom: 12px;
    }
    transition: opacity 0.2s ease;

    &:after {
      display: none;
    }

    &:hover:after {
      display: none;
    }

    &:active {
      background-color: $btn-bg-color;
    }
  }

  .header-features-list__link {
    width: 100%;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.138462px;
    color: #2D314D;

    &:active {
      background-color: $btn-bg-color;
    }
  }
}