.request-button {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: baseline;
  max-width: 163px;
  min-width: 163px;
  border-radius: 22px;
  background-image: $btn-bg-color;
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 28px;
  color: $btn-text-color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  padding: {
    top: 8px;
    bottom: 8px;
    left: 33px;
    right: 37px;
  }
  transition: opacity 0.2s ease;

  &::after {
    content: "";
    position: absolute;
    z-index: -9;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &:hover::after {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.6;
  }
}