.request-button {
  display: inline-block;
  vertical-align: baseline;
  max-width: 163px;
  border-radius: 22px;
  background-image: $btn-bg-color;
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 28px;
  color: $btn-text-color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;

  padding: {
    top: 8px;
    bottom: 8px;
    left: 33px;
    right: 37px;
  }

  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }
}